h1, span{
    color:red;
    margin:20px;
}


.DTE{
    margin-block: 20px;
    border:blue;
}

#carouselFadeExampleIndicators{
    margin-left: auto;
    margin-right:auto;
    width:80%;
    margin-bottom: 20px;
}

.carousel-control-next{
    color:red;
}

.introduction{
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
    padding:10px;
    border:red;
}

figure.gazo-box {
    float: left;
    padding-right: 20px;
    }