{% extends 'intro/base.html' %}
{% load static %}

{% block content %}

<div style = "background:radial-gradient(red, yellow)">
<h1 style = "color:black">TEAM 05 - 01 </h1>

<figure class="masaru" style = "float:left; padding: 20px; ">
   <a href="{% url 'intro:masaru' %}"><img src="/static/masaru_04.jpg" alt="Masaru Fujimaki" width="320" height="240"></a>
    <figcaption>Masaru Fujimaki</figcaption>
</figure>
    
<figure class="yuka"  style = "float:left; padding: 20px; ">
    <a href="{% url 'intro:yuka' %}"><img src="/static/yuka_04.jpg" alt="Yuka Fujimoto" width="320" height="240"></a>
    <figcaption>Yuka Fujimoto</figcaption>
</figure>

<figure class="masaki" style = "float:left; padding: 20px;">
    <a href="{% url 'intro:masaki' %}"><img src="/static/masaki_04.jpg" alt="Masaki Itaya" width="320" height="240"></a>
        <figcaption>Itaya Masaki</figcaption>
</figure>

<figure class="makiyama" style = "float:left; padding: 20px;">
    <a href="{% url 'intro:makiyama' %}"><img src="/static/makiyama_02.jpg" alt="Makiyama Hidefumi" width="320" height="240"></a>
        <figcaption>Hidefumi Makiyama</figcaption>
 </figure>

{% endblock %}