{% extends 'intro/base.html' %}
{% load static %}
<link rel = "stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}

<div style = "background:radial-gradient(red, yellow)">
<h1 style = "color:black">Makiyama, Hidefumi : AS-FS </h1>
<div id="carouselFadeExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/makiyama_01.jpg" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/makiyama_02.jpg" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/makiyama_03.jpg" >
      </div>
    </div>
   <a class="carousel-control-prev" href="#carouselFadeExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselFadeExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class = "introduction" style = "border:dashed;">
    <h2>自己紹介</h2>
    <p>人生最大のチャレンジは三年半ほど塾の経営をしたことでした。</p>
    <br>
    <p>また、人生最長の習慣は、自己研鑽の一貫としてカラオケに週一のペースで通っていることです。人生最高の体験はカナダのヴィクトリアへの三回ほどの計半年にわたる短期留学でした</p>
</div>

{% endblock %}