{% extends 'intro/base.html' %}


{% block content %}

<div style = "background:radial-gradient(red, yellow)">
<h1 style = "color:black">Masaki, Itaya : AS-FS </h1>
<div id="carouselFadeExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/masaki_01.jpg" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/masaki_02.jpg" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/masaki_03.png" >
      </div>
    </div>
   <a class="carousel-control-prev" href="#carouselFadeExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselFadeExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class = "introduction" style = "border:dashed;">
    <h2>自己紹介</h2>
    <p>AS-FS所属の板谷将貴です。</p>
    <br>
    <p>趣味はギター、麻雀、パチンコ、スロットです。</p>
</div>
{% endblock %}