{% extends 'intro/base.html' %}
{% load static %}
<link rel = "stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}

<div style = "background:radial-gradient(red, yellow)">
<h1 style = "color:black">Masaru, Fujimaki : AS-FS </h1>
<div id="carouselFadeExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/masaru_01.jpg" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/masaru_02.jpg" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/masaru_03.png" >
      </div>
    </div>
   <a class="carousel-control-prev" href="#carouselFadeExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselFadeExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class = "introduction" style = "border:dashed;">
    <h2>自己紹介</h2>
    <br>
    <p>アメリカにテニスでスポーツ留学し、テニスチームのキャプテンを勤めていました。</p>
    <p>7際の頃に中国の上海へ、18歳の頃にアメリカのロチェスターへ、22歳で日本へ本帰国。</p>
</div>

{% endblock %}