{% extends 'intro/base.html' %}

{% block content %}

    <table class = "table">
        <tr>
            <th>宛先</th>
            <td>{{ message.title }}</td>
        </tr>
        <tr>
            <th>メッセージ</th>
            <td>{{ message.text }}</td>
        </tr>
        <tr>
            <th>日付</th>
            <td>{{ message.date }}</td>
        </tr>
    </table>
{% endblock %}