{% extends 'intro/base.html' %}

{% block content %}
<p>{{ message.title }}</p>
<form action = "" method = "POST">
    <table class = "table">
        <tr>
            <th>宛先</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>メッセージ</th>
            <td>{{ form.text }}</td>
        </tr>
        <tr>
            <th>日付</th>
            <td>{{ form.date }}</td>
        </tr>
    </table>

    <button type = "submit" class = "btn btn-primary">送信</button>
    {% csrf_token %}
</form>
{% endblock %}