{% extends 'intro/base.html' %}

{% block content %}
<form action ="" method = "POST">
    <table class = "table">
        <tr>
            <th>タイトル</th>
            <td>{{ message.title }}</td>
        </tr>
        <tr>
            <th>メッセージ</th>
            <td>{{ message.text }}</td>
        </tr>
        <tr>
            <th>日付</th>
            <td>{{ message.date }}</td>
        </tr>
    </table>
    <p>こちらのメッセージを削除します。</p>
    <button type = "submit" class = "btn btn-primary">削除</button>
    {% csrf_token %}
</form>
{% endblock %}