{% extends 'intro/base.html' %}

{% block content %}
<h1>メッセージ一覧</h1>
<table class = "table">
    <thead style = background-color:#B22222>
        <tr>
            <th>宛先</th>
            <th>日付</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
    </thead>
    <tbody>
            {% for message in message_list %}
            <tr>
                <td><a href = "{% url 'intro:detail' message.pk %}">{{ message.title }}</a></td>
                <td>{{ message.date }}</td>
                <td><a href="{% url 'intro:update' message.pk %}">更新</a></td>
                <td><a href="{% url 'intro:delete' message.pk %}">削除</a></td>
            </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}