{% extends 'intro/base.html' %}


{% block content %}

<div style = "background:radial-gradient(red, yellow)">
<h1 style = "color:black">Yuka, Fujimoto : AS-FS </h1>
<div id="carouselFadeExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/yuka_01.jpg" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/yuka_02.jpg" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/yuka_03.jpg" >
      </div>
    </div>
   <a class="carousel-control-prev" href="#carouselFadeExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselFadeExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class = "introduction" style = "border:dashed;">
    <h2>自己紹介</h2>
    <p>大学時代はLockダンスに打ち込んでいました。</p>
    <br>
    <p>食べ飲み大好きです。量食べます。わんこそば100杯チャレンジ成功しました！！！</p>
</div>
{% endblock %}