<nav aria-label="Page navigation">
    <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class = "page-item">
                <a class = "page-link" href = "?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
    
        {% for link_page in page_obj.paginator.page_range %}
            {% if link_page == page_obj.number %}
                <li class = "page-item active">
                    <a class = "page-link" href = "?page={{ link_page }}">
                        {{ link_page }}
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ link_page }}">
                        {{ link_page }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
</nav>