<!--前への部分-->
{% if page_obj.has_previous %}
    <a href = "?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

<!--数字の部分-->
{% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <span>{{ num }}</span>
    {% else %}
        <a href = "?page={{ num }}">{{ num }}</a>
    {% endif %}
{% endfor %}

<!--次への部分-->
{% if page_obj.has_next %}
    <a href = "?page={{ page_obj.next_page_number }}">次へ</a>
{% endif %}